@page
@model WebApp.Pages.Profile.SearchModel
@{
    ViewData["Title"] = "Search";
}

<form method="post">
    <label asp-for="SearchTerm"></label>
    <input asp-for="SearchTerm" />
    <span asp-validation-for="SearchTerm"></span>

    <button asp-page-handler="" type="submit">Search</button>
</form>