@page "/gamer/{gamertag}/achievements"
@model XblApp.Pages.Gamer.AchievementsModel
@{
    ViewData["Title"] = $"Achievements for {Model.Output.Gamertag}";
}

<!-- Подключаем вкладки для игрока -->
@await Html.PartialAsync("_GamerTabs", Model.Output.Gamertag)

<h2>@ViewData["Title"]</h2>

<body>
    <div class="table-responsive">
        <table class="table table-striped recipe">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>
