@page "{gamertag}"
@model WebApp.Pages.Gamer.IndexModel
@{
}

<div class="table-responsive">
    <table class="table table-striped recipe">
        <thead>
            <tr>
                <th>Gamertag</th>
                <th>Gamerscore</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">@Model.Output.Gamertag</td>
                <td class="align-middle">@Model.Output.Gamerscore</td>
                <td class="align-middle"><a asp-page="Recipes/View" asp-route-id="@Model.Output.Id" class="btn btn-primary">View</a></td>
            </tr>
            @* @foreach (var recipe in Model.Recipes)
            {
                
            } *@
        </tbody>
    </table>
</div>
@* <a asp-page="Recipes/Create" class="btn btn-success">Create new Recipe</a> *@
