@page
@model WebApp.Pages.Auth.AuthenticateModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Авторизация</title>
    </head>
    <body>
        <h1>Страница авторизации</h1>

        @if (Model.IsAuthenticated)
        {
            <p>Вы успешно авторизовались!</p>
        }
        else
        {
            <p>Вы не авторизованы. <a href="@Model.AuthenticationUrl">Авторизоваться</a></p>
        }
    </body>
    </html>
}
